div.downloads.center.row
	a( href='#' )
		img( src='/assets/get-it-on-google-play.svg' )
	a( href='#' )
		img( src='/assets/download-on-app-store.svg' )
div.online.center
	span or...
	a( href='https://app.nutshell.social' ) Use in browser