div.downloads.center.row
	a( target='_blank' href='https://play.google.com/store/apps/details?id=com.nutshell.nutshell' )
		img( src='/assets/get-it-on-google-play.svg' )
	a( target='_blank' href='#' )
		img( src='/assets/download-on-app-store.svg' )
div.online.center
	span or...
	a( href='https://app.nutshell.social' ) Use in browser